@use 'sass-utils' as *;

.paragraph .field--name-placeholder {
  display: grid;
  align-items: center;
  text-align: center;
  min-height: 100px;
  padding: 25px;
  background: $burlap;
  color: $lightblack;
  font-size: 16px;

  @include below($sm) {
    min-height: 200px;
    padding: 15px;
  }
}
