@forward '@xenyo/sass-utils';

// Breakpoint variables
$lg: 1500px;
$md: 1000px;
$sm: 500px;

// Colors
$black: #1a1a1a;
$burlap: #ebeae4;
$drupalblue: #0074bd;
$eggshell: #fcfcfa;
$eggshell2: #f5f5f2;
$lightblack: #595959;
